<h1 id="merchant-index-header">Invoices</h1>
<a id="new-merch-button" href="/invoices">Create A New Invoice</a>
<div class="merchant-line">
<% invoices.each do |invoice| %>
  <div class="merchant-container">
        ID /         <a    href="/invoices/<%= invoice.id %>"  style="color: rgb(255, 255, 255)"><%= invoice.id %></a><br>
        Customer Id / <%= invoice.customer_id %>
        Merchant Id / <%= invoice.merchant_id %>
        Status / <%= invoice.status %>
        Created-at / <%= invoice.created_at %>
        Updated-at / <%= invoice.updated_at %>
          <div class="myButton">
      <form method="post" action="/invoices/<%= invoice.id %>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" class="me" id="submit" value="DELETE">
      </form>
    </div>
      <a id="submit" class="myButton" href="/invoices/<%= invoice.id %>/edit">Edit</a>
    </div>
    <% end %>
  </div>
