<div class="card-2">
  <div class="container-2">
    <h2> Invoice: <%= invoice.id %>  |  Status: <%= invoice.status %>  |  Total Price: $<%= @total_price %> </h2>
    <form method="post" action="/invoices/<%= invoice.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="DELETE">
    </form>
    <form method="get" action="/invoices/<%= invoice.id %>/edit">
      <button type="submit">EDIT</button>
    </form>
    <ul> <% invoice.invoice_items.each do |invoice_item| %>
      <li> <%= invoice_item.item_id %> <%= invoice_item.item.name %> <%= invoice_item.quantity %> <%= invoice_item.unit_price %></li>
      <% end %>
    </ul>
  </div>
</div>
