
<div class='merchant-header'>
<h1><font color="white">Invoice ID: <%= invoice.id %> - Invoice Status: <%= invoice.status %> - Invoice Total: $<%= invoice.total_price(invoice.id) %>  </font><br></h1>
<div class="myButton-merchant">
  <form action="/invoices/<%= invoice.id %>" method="POST">
    <input type="hidden" name="_method" value="delete"/>
    <input id="submit" type="submit"  class="me" value="Delete"/>
  </form>
</div>
<a id="submit" class="myButton-merchant" href="/invoices/<%= invoice.id %>/edit">Edit</a>
</div>
</div>
<a id="new-merch-button-1" href="/merchants/<%= @merchant.id %>"><%= @merchant.name %></a>
  <div class="invoice-box">
<p>Item-ID Item-Title Quantity Unit_Price</p>
  </div>
    <div class="merchant-line-1">
      <% invoice.invoice_items.each do |invoice_item| %>
      <div class="merchant-container-1">
        <div class="work">
        <div class="invoice-lines">
    <a    href="/items/<%= invoice_item.item_id %>"  style="color: rgb(255, 255, 255)"><%= invoice_item.item_id %></a>
  </div>
<div class="invoice-lines-2">
    <%= invoice_item.item.name %>
  </div>
  <div class="invoice-lines-3">

 <%= invoice_item.quantity %>
</div>
  <div class="invoice-lines-4">

$<%= invoice_item.unit_price %>
</div>
</div>
</div>
</div>
      <% end %>
  </div>
