<div class="edit">
  <div class="container-2">
    <form action="/merchants/<%= merchant.id %>" method="POST">
      <p>Edit a merchant:</p>
      <input type="hidden" name="_method" value="PUT">
      <input type="number" name="merchant[id]" value="<%= merchant.id %>"/><br/>
      <input type="text" name="merchant[name]" value="<%= merchant.name %>"/><br/>
      <input type="hidden" name="merchant[created_at]" value="<%= Time.now %>"/>
      <input type="hidden" name="merchant[updated_at]" value="<%= Time.now %>"/>
      <input type="submit" value="Submit"/>
    </form>
  </div>
</div>
