<div class='merchant-header'>
<h1><font color="white"><%= merchant.name %></font><br></h1>
<div class="myButton-merchant">
  <form action="/merchants/<%= merchant.id %>" method="POST">
    <input type="hidden" name="_method" value="delete"/>
    <input id="submit" type="submit"  class="me" value="Delete"/>
  </form>
</div>
<a id="submit" class="myButton-merchant" href="/merchants/<%= merchant.id %>/edit">Edit</a>
</div>
</div>
<% merchant.items.each do |items| %>
<div class="card-merchant">
  <img src="https://i.imgur.com/QdslH7j.png" alt="Ruby" height="100" width="100">
  <div class="container-merchant">
<p><a href="/items/<%= items.id %>"><%= items.name %></a></p><br>
  Price /  $<%= items.unit_price %><br>
   </div>
 </div>
 <% end %>
 </body>
</html>
