<html>
  <head>
    <title>Little Shop Redux</title>
  </head>
<body>
  <% items.each do |item| %>
       <ul>
         <li>Id  /  <%= item.id %></li>
         <li>Item  /  <%= item.name %></li>
         <li>Description  /  <%= item.description %></li>
         <li>Unit Price  /  <%= item.unit_price %></li>
         <li>Merchant ID  /  <%= item.merchant_id %></li>
         <li>Created-at  /  <%= item.created_at %></li>
         <li>Updated-at  /  <%= item.updated_at %></li>
         <img src="https://i.imgur.com/QdslH7j.png" alt="Ruby" height="100" width="100">
       </ul>
 <% end %>
 </body>
</html>
