<div class='merchant-header'>
<h1><font color="white"><%= @item.name %></font><br></h1>
<div class="myButton-merchant">
  <form action="/items/<%= @item.id %>" method="POST">
    <input type="hidden" name="_method" value="delete"/>
    <input id="submit" type="submit"  class="me" value="Delete"/>
  </form>
</div>
<a id="submit" class="myButton-merchant" href="/items/<%= @item.id %>/edit">Edit</a>
</div>
</div>
<div class="container-item">
  <div class="item-image">
    <img src="<%= @item.image %>" alt="Ruby" height="300" width="300">
  </div>
    Id   /   <%= @item.id %><br>
    Item  /  <%= @item.name %><br>
    Description  /  <%= @item.description %><br>
    Unit-price  /  $<%= (@item.unit_price.to_f) / 100 %><br>
    Merchant-id  /  <%= @item.merchant_id%><br>
    Created-at  /  <%= @item.created_at %><br>
    Updated-at  /  <%= @item.updated_at %><br>
  </div>
</div>
</div>
