<div class="card">
  <div class="container">
    Id   /   <%= @item.id %><br>
    Item  /  <%= @item.name %><br>
    Description  /  <%= @item.description %><br>
    Unit-price  /  $<%= (@item.unit_price.to_f) / 100 %><br>
    Merchant-id  /  <%= @item.merchant_id%><br>
    Created-at  /  <%= @item.created_at %><br>
    Updated-at  /  <%= @item.updated_at %><br>
  </div>
</div>
